.container {
  width: 100%;
  max-width: var(--layout-web-max);
  margin-inline: auto;
  padding-inline: var(--layout-mobile-gutter);
}

@media (min-width: 768px) {
  .container {
    padding-inline: var(--space-xxl);
  }
}
